<!DOCTYPE HTML>
<html lang="en" ng-app="directoryApp">
<head>
  <meta charset="utf-8" />
  <title>{{pageTitle}}</title>
  <meta name="description" content="{{pageTitle}}for Udemy Course" />
  <meta name="author" content="Dennis Mullen" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<body>
  <h1>Here's the {{pageTitle}}</h1>
  <p>{{welcomeContent}}</p>

<footer>
  <p>
    Copyright {{currentYear}}
  </p>
</footer>

</body>
</html>
